streamlit
yfinance==0.2.38
websockets>=12.0
pandas
plotly
fredapi
feedparser
xlsxwriter
google-generativeai
requests
supabase
lxml
pyTelegramBotAPI==4.14.0
supabase==2.3.4
flask==3.0.0
websockets>=12.0
numpy
